{{#alerts}}<!--acts as loop-->
<div class="alert {{#type}} alert-{{type}} {{/type}} alert-dismissible" role="alert">
	{{#close}}<!--section controls what is shown-->
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	{{/close}}
    {{#title}} <strong>{{title}}</strong> {{/title}} {{#message}}{{message}}{{/message}}
</div>
{{/alerts}}
